.title-projects h3 {
  font-family: 'Libre Baskerville', serif;
  color: #34373C;
}
.list-technologies h3 {
  color: rgb(57, 103, 131);
}
.list-technologies .description{
  font-family: 'Libre Baskerville', serif;
  color: #34373C;
}

.list-technologies .icon-arrow {
  animation: icon-arrow-right 1s ease-in-out infinite;
}
@keyframes icon-arrow-right {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}
