.presentation h1 {
  color: #34373C;
  font-family: 'Raleway', sans-serif;
}
.presentation h2 {
  color: #34373C;
  font-family: 'Libre Baskerville', serif;
}
.technologies h3 {
  color: rgb(57, 103, 131);
}
